.available-influencers {
    .influencer-item {
        border: solid 1px #DDDDDD;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-top: 10px;
        .influencer-img {
            width: 150px;
            height: auto;
        }
    }
}