<div class="container landing-page" appCurrentPage="'landingPage'">
    <div class="col-sm-12 col-md-12">
      <div class="jumbotron jumbotron-fluid  can-click jumbo-black">
      <p class="col-md-3"><img src="assets/img/merchant.png" class="standard-image   " alt=" "></p>
      <div class="col-md-9">
        <h1 class="display-3">Business Brands</h1>
        <p class="lead"> Please click here to continue if you are a <a uiSref="loginPage"> Brands/ Company /Merchant</a>. <br> <br>   Discover talented social media influencers to drive your business goals.  On top of that, monitor your cost-conversion on your campaigns.  <br> <br><br></p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="jumbotron jumbotron-fluid can-click jumbo-blue" >
      <p class="col-md-3 image"><img src="assets/img/influencer.png" class="standard-image" alt=" "> <br> <br></p>
      <div class="col-md-9">
        <h1 class="display-3">Influencer / Socialites</h1>
        <p class="lead">Please click here to continue if you are an <a uiSref="loginPage">Influencer / social media evangalist</a> .  <br><br>Find  better assignments that you prefer, at the right place and time. Connect and nurture your influence with the right people. <br>  <br></p>
    </div>
  </div>
</div>
</div>