<div class="page-content-wrapper">
    <div class="content">
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner" style="transform: translateY(0px); opacity: 1;">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li> <a href="#">Dashboard</a> </li>
                        <li><a href="#" class="active">Influencer</a> </li>
                        <!-- <li><a href="#" class="active">@macvhustle</a> </li> -->
                    </ul>
                    <!-- END BREADCRUMB -->
                    <div class="row">
                        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 p0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="budget-list" data-content="budget">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel no-border bg-white no-margin widget-loader-bar">
                            <div class="panel-heading top-left top-right ">
                                <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Budget </span> </div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a data-toggle="refresh" class="portlet-refresh text-black"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body p-t-40">
                                <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="no-margin p-b-5 text-primary semi-bold">MYR 21,234.03</h4>
                                    <div class="pull-left small"> <span>Pending</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                                    <div class="pull-left m-l-20 small"> <span>Spent</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel no-border bg-white no-margin widget-loader-bar">
                        <div class="panel-heading top-left top-right ">
                            <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Budget </span> </div>
                            <div class="panel-controls">
                            <ul>
                                <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                            </ul>
                            </div>
                        </div>
                        <div class="panel-body p-t-40">
                            <div class="row">
                            <div class="col-sm-12">
                                <h4 class="no-margin p-b-5 text-primary semi-bold">MYR 21,234.03</h4>
                                <div class="pull-left small"> <span>Pending</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                                <div class="pull-left m-l-20 small"> <span>Spent</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel no-border bg-white no-margin widget-loader-bar">
                            <div class="panel-heading top-left top-right ">
                                <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Campaigns </span> </div>
                                <div class="panel-controls">
                                <ul>
                                    <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                                </ul>
                                </div>
                            </div>
                            <div class="panel-body p-t-40">
                                <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="no-margin p-b-5 text-primary semi-bold">21</h4>
                                    <div class="pull-left small"> <span>Running</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                                    <div class="pull-left m-l-20 small"> <span>Pending</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel no-border bg-white no-margin widget-loader-bar">
                            <div class="panel-heading top-left top-right ">
                                <div class="panel-title text-black hint-text"> <span class="font-montserrat fs-11 all-caps">Total Influencers </span> </div>
                                <div class="panel-controls">
                                <ul>
                                    <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a> </li>
                                </ul>
                                </div>
                            </div>
                            <div class="panel-body p-t-40">
                                <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="no-margin p-b-5 text-primary semi-bold">44</h4>
                                    <div class="pull-left small"> <span>Running</span> <span class=" text-success font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 9% </span> </div>
                                    <div class="pull-left m-l-20 small"> <span>Pending</span> <span class=" text-primary font-montserrat"> <i class="fa fa-caret-up m-l-10"></i> 21% </span> </div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-transparent" data-content="tab">
                
                <!-- Nav tabs -->
                <app-tab-header [tabItems]="tabItems" (onTabChanged)="activeTab=$event"></app-tab-header>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- tab 0 -->
                    <div class="tab-pane fade in" [class.active]="activeTab == 'tabAll' || activeTab == ''" #allContent>
                        <div class="row no-data" *ngIf="!campaigns || !campaigns.length">
                            <div class="col-md-2 col-md-offset-5 no-data"><p>No data</p></div>
                        </div>
                        <div class="row column-seperation" *ngIf="campaigns && campaigns.length">
                            <div class="col-md-12">
                                <div class="panel panel-transparent">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <div class="col-xs-12">
                                                <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="dataTables_wrapper form-inline no-footer">
                                            <div class="table-responsive">

                                                <table class="table table-hover table-list" id="list">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Branch</th>
                                                            <th width="20%">Name</th>
                                                            <th width="30%">Info</th>
                                                            <th width="10%">Price</th>
                                                            <th width="10%">Duration</th>
                                                            <th width="10%">Status</th>
                                                            <th width="10%">Closing Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let campaign of campaigns">
                                                            <td class="v-align-middle semi-bold image">
                                                                <a><img #fileImage alt="profile image" class="img-thumbnail" [attr.src]="domSanitizer.bypassSecurityTrustUrl(getImgLink(campaign))"></a>
                                                            </td>

                                                            <td class="v-align-middle semi-bold name">
                                                                <a><p>{{ campaign.Name }}</p></a>
                                                            </td>

                                                            <td class="v-align-middle desc">
                                                                <p>{{ campaign.Description }}</p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle">
                                                                <p> {{ campaign.Price }} </p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle duration">
                                                                <p> {{ getDuration(campaign.FromDate, campaign.ToDate)}} day(s)</p>
                                                            </td>

                                                            <td class="v-align-middle status">
                                                                <p>Requested</p>
                                                            </td>

                                                            <td class="v-align-middle closing-date">
                                                                <p>{{campaign.ToDate}}</p>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row paging hide">
                                                <div>
                                                    <div class="dataTables_paginate paging_bootstrap pagination" id="tableWithSearch_paginate">
                                                        <ul>
                                                            <li class="prev disabled"><a href="#"><i class="pg-arrow_left"></i></a></li>
                                                            <li class="active"><a href="#">1</a></li>
                                                            <!-- <li ><a href="#">2</a></li> -->
                                                            <li class="next disabled"><a href="#"><i class="pg-arrow_right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="dataTables_info" id="tableWithSearch_info" role="status" aria-live="polite">Showing <b>1 to 2</b> of 2 entries</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab 1 -->
                    <div class="tab-pane fade in" [class.active]="activeTab == 'tabRunning'" #runningContent>
                        <div class="row no-data" *ngIf="!runningCampaigns || !runningCampaigns.length">
                            <div class="col-md-2 col-md-offset-5 no-data"><p>No data</p></div>
                        </div>
                        <div class="row column-seperation" *ngIf="runningCampaigns && runningCampaigns.length">
                            <div class="col-md-12">
                                <div class="panel panel-transparent">
                                    <div class="panel-body">
                                        <div class="dataTables_wrapper form-inline no-footer">
                                            <div class="table-responsive">

                                                <table class="table table-hover table-list" id="list">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Branch</th>
                                                            <th width="20%">Name</th>
                                                            <th width="20%">Info</th>
                                                            <th width="10%">Price</th>
                                                            <th width="10%">Duration</th>
                                                            <th width="10%">Status</th>
                                                            <th width="20%">Closing Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody> 
                                                        <tr *ngFor="let campaign of runningCampaigns">
                                                            <td class="v-align-middle semi-bold image">
                                                                <a><img #fileImage alt="profile image" class="img-thumbnail" [attr.src]="domSanitizer.bypassSecurityTrustUrl(getImgLink(campaign))"></a>
                                                            </td>

                                                            <td class="v-align-middle semi-bold name">
                                                                <a><p>{{ campaign.CampaignName }}</p></a>
                                                            </td>

                                                            <td class="v-align-middle desc">
                                                                <p>{{ campaign.CampaignDescription }}</p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle">
                                                                <p> {{ campaign.CampaignPrice }} </p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle duration">
                                                                <p> {{ getDuration(campaign.CampaignFromDate, campaign.CampaignToDate)}} day(s)</p>
                                                            </td>

                                                            <td class="v-align-middle status">
                                                                <a *ngIf="!campaign.StatusId|| campaign.StatusCode == 'AVAIL'">
                                                                    <p><span class="glyphicon glyphicon-share-alt"></span> <span>Request</span></p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-REQUE'">
                                                                    <p><span class="glyphicon glyphicon-share-alt"></span><span> Requested, Awaiting response </span>  <br> <br> </p> 
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-APPRO'">
                                                                    <p><span class="glyphicon glyphicon-retweet"></span>  <span> Approved</span> <br> <br> </p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-PROGR'">
                                                                    <p><span class="glyphicon glyphicon-hourglass"></span><span> Progress</span> </p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-VERIF'">
                                                                    <p><span class="glyphicon glyphicon-check"></span>  <span>  Completed </span> <br>  <br></p>
                                                                </a>
                                                            </td>

                                                            <td class="v-align-middle closing-date">
                                                                <p>{{campaign.CampaignToDate}}</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- pagings -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab 2 -->
                    <div class="tab-pane fade in" [class.active]="activeTab == 'tabCompleted'" #completedContent>
                        <div class="row no-data" *ngIf="!completedCampaigns || !completedCampaigns.length">
                            <div class="col-md-2 col-md-offset-5 no-data"><p>No data</p></div>
                        </div>
                        <div class="row column-seperation" *ngIf="completedCampaigns && completedCampaigns.length">
                            <div class="col-md-12">
                                <div class="panel panel-transparent">
                                    <div class="panel-body">
                                        <div class="dataTables_wrapper form-inline no-footer">
                                            <div class="table-responsive">

                                                <table class="table table-hover table-list" id="list">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Branch</th>
                                                            <th width="20%">Name</th>
                                                            <th width="20%">Info</th>
                                                            <th width="10%">Price</th>
                                                            <th width="10%">Duration</th>
                                                            <th width="10%">Status</th>
                                                            <th width="20%">Closing Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody> 
                                                        <tr *ngFor="let campaign of completedCampaigns">
                                                            <td class="v-align-middle semi-bold image">
                                                                <a><img #fileImage alt="profile image" class="img-thumbnail" [attr.src]="domSanitizer.bypassSecurityTrustUrl(getImgLink(campaign))"></a>
                                                            </td>

                                                            <td class="v-align-middle semi-bold name">
                                                                <a><p>{{ campaign.CampaignName }}</p></a>
                                                            </td>

                                                            <td class="v-align-middle desc">
                                                                <p>{{ campaign.CampaignDescription }}</p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle">
                                                                <p> {{ campaign.CampaignPrice }} </p>
                                                            </td>
                                                            
                                                            <td class="v-align-middle duration">
                                                                <p> {{ getDuration(campaign.CampaignFromDate, campaign.CampaignToDate)}} day(s)</p>
                                                            </td>

                                                            <td class="v-align-middle status">
                                                                <a *ngIf="!campaign.StatusId|| campaign.StatusCode == 'AVAIL'">
                                                                    <p><span class="glyphicon glyphicon-share-alt"></span> <span>Request</span></p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-REQUE'">
                                                                    <p><span class="glyphicon glyphicon-share-alt"></span><span> Requested, Awaiting response </span>  <br> <br> </p> 
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-APPRO'">
                                                                    <p><span class="glyphicon glyphicon-retweet"></span>  <span> Approved</span> <br> <br> </p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-PROGR'">
                                                                    <p><span class="glyphicon glyphicon-hourglass"></span><span> Progress</span> </p>
                                                                </a>
                                                                <a *ngIf="campaign.StatusCode == 'INF-VERIF'">
                                                                    <p><span class="glyphicon glyphicon-check"></span>  <span>  Completed </span> <br>  <br></p>
                                                                </a>
                                                            </td>

                                                            <td class="v-align-middle closing-date">
                                                                <p>{{campaign.CampaignToDate}}</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- pagings -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>