.form {
    padding-left: 10px;
    padding-right: 10px;
    .btn-group {
        text-align: center;
    }
    .price {
        position: unset;
    }
}
.campaign-detail-images {
    .img-thumbnail {
        max-width: 150px;
    }
}