<div class="budget-counter">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button type="button" class="btn-counter btn btn-default form-control" on-click="increaseValue()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button type="button" class="btn-counter btn btn-default form-control" on-click="descreaseValue()">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
			<span><span>{{counterValue}} </span>{{counterTitle}}</span>
		</div>
	</div>
</div>